@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:"Merriweather Sans";
  background-color:rgb(25, 23, 26)
}



.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.skillSvg {
  background-color:#ff;

  height: 5rem;
  margin: 1rem;
  border-radius: 1rem;
  
  
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Adding transition for smooth animation */
}

.skillSvg:hover {
  
  transform: scale(1.2); 
}

.svgBox{
  display: flex;
  flex-direction: row;
}

.projetCard{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.projectCard:hover {
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.6); /* Glowing effect */
  transform: translateY(-10px);
}

.hollow-text {
  color: transparent; 
  text-shadow: 
    -1px -1px 0 #e9322e,  
     1px -1px 0 #e9322e,
    -1px  1px 0 #e9322e,
     1px  1px 0 #e9322e; 
}



